<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <img src="https://i.ibb.co/fMZ6BzY/1231231231333333333232333.png" width="50" height="50">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <button class="nav-link" (click)="sitio(1)">Nuestras Casas</button>
            </li>
        </ul>
    </div>
</nav>
<img src="https://i.ibb.co/sPySvs7/1.jpg" (click)="showGallery(0)"  width="400" height="600">
<img src="https://i.ibb.co/7n15DkX/2.jpg" (click)="showGallery(1)"  width="400" height="600">
